@font-face {
	font-family: Hagin Caps Medium;
	font-display: swap;
	src: url("../fonts/Hagin Caps Medium.woff2") format("woff2"), url("../fonts/Hagin Caps Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Bold.woff2") format("woff2"), url("../fonts/YsabeauSC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-ExtraBold.woff2") format("woff2"), url("../fonts/YsabeauSC-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Light.woff2") format("woff2"), url("../fonts/YsabeauSC-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-ExtraLight.woff2") format("woff2"), url("../fonts/YsabeauSC-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Medium.woff2") format("woff2"), url("../fonts/YsabeauSC-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Black.woff2") format("woff2"), url("../fonts/YsabeauSC-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Hagin Caps Thin;
	font-display: swap;
	src: url("../fonts/Hagin Caps Thin.woff2") format("woff2"), url("../fonts/Hagin Caps Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Regular.woff2") format("woff2"), url("../fonts/YsabeauSC-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-Thin.woff2") format("woff2"), url("../fonts/YsabeauSC-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: YsabeauSC;
	font-display: swap;
	src: url("../fonts/YsabeauSC-SemiBold.woff2") format("woff2"), url("../fonts/YsabeauSC-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
