.benefits {
    padding: 40px 0;
    
    @include mobile {
        padding: 20px 0;
    }
}

.benefits-text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color);

    @include mobile {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 0;    
    }
}   
.benefits__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);    
    margin-top: 30px;
    color: #FFF;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;        
    }

    @include mobile-large {
        grid-template-columns: 1fr;
        grid-template-rows: auto;         
    }
}

.card-benefit {
    display: flex;
    flex-direction: column;          
    background: var(--text-color);    
    padding: 20px;    
    text-align: left;   
    align-items: flex-start; /* текст и шапка по левому краю */
    gap: 12px; 
    
    @include mobile {
        padding: 10px;
        padding-bottom: 0;        
        
    }
        
}

.card-benefit__header {
    display: flex;
    align-items: center;
    gap: 12px;    
}


.card-benefit__image {    
    flex-shrink: 0; 
    background: var(--accent);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        width: 40px;
        height: 40px;
    }
}

.card-benefit__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @include mobile {
        gap: 10px;
    }
    
}

.card-benefit__title {
    font-size: 20px;
    margin: 15px 0 10px;

    @include mobile {
        font-size: 16px;
    }
}

.card-benefit__text {
    font-size: 15px;
    line-height: 1.5;
    
    @include mobile {
        font-size: 14px;
        line-height: 1.2;    
    }
}



