.btn,
a.btn {
	display: inline-block;
	padding: 12px;
	width: fit-content;
	height: auto;	
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 125%;
	text-transform: none;
	text-align: center;
	letter-spacing: 0.3px;
	transition: all 0.2s ease-in;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
	background-color: var(--accent);
	color: #fff;
	
	&:hover {
		scale: 1.05;		
	}

	@include tablet {
		font-size: 16px;
		padding: 10px 8px;
	}

	@include mobile {
		padding: 8px 9px;
		min-width: 170px;
		font-size: 14px;
	}	
}

.btn-link, a.btn-link {
	display: inline-block;
	width: fit-content;	
	color: #fff;
	background-color: var(--text-color);	
	padding: 6px 10px;
	border-radius: 6px;
	font-weight: 500;
	text-transform: lowercase;
	transition: all 0.2s ease-in;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);		
	
	&:hover {
		transform: scale(1.03);
	}
}

.btn.distribution__contact-btn {
	margin-top: 15px;
	padding: 20px;
	
}