.contacts {
    position: relative;
    margin-top: 40px;
    
    @include mobile {
        margin-top: 20px;
    }
}

.contacts__container{
    @include mobile {
        padding: 0;
    }

}
.contacts__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    background: var(--text-color);
    margin-bottom: 40px;
    
    @include mobile-large {
        grid-template-columns: 1fr;
        min-height: auto;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.contacts__title{
    color: white;
}
.contacts__link-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;    
}

.contacts__link-wrapper a{
    text-decoration: none;
    color: white;
    
    &:hover{
        color: var(--accent);
    }
}

.contents__link-img, .contacts__icon-wrapper{
    flex-shrink: 0; 
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        width: 35px;
        height: 35px;
    }
}

.contacts__info{
    padding: 64px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/decor-band2.svg") left top / auto 100% no-repeat;
    background-size: 40px auto;

    @include mobile-large{
        align-items: center;
        padding: 25px;
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}

.contacts__item {}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
}

.contacts__link:hover {
    color: var(--accent);
}

.contacts__text {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.contacts__line {
    font-size: 20px;
    transition: all 0.2s ease-in;
    
    &:hover{
        // scale: 1.1;    
     }

     @include mobile {
         font-size: 14px;
     }
}

.contacts__right {
    
    background: url("../../img/woman1.jpg") center / cover no-repeat;
}