.delivery-payment {
    padding: 50px 0;
    padding-bottom: 0;
    
    @include mobile {
        padding: 0;        
    }
}

.delivery-payment__container{
    margin-bottom: 40px;
    @include mobile {
        margin-bottom: 20px;
    }
}

.delivery-payment__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include mobile {
        gap: 20px;
    }
}

.delivery-payment__item {
    padding: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    display: grid;
    grid-template-rows: 1fr auto; /* контент занимает всё, ссылка внизу */
    border: 1px solid var(--text-color);
    border-radius: 12px;
    background-color: #ffffff7a;

    @include mobile {
        padding: 5px;
        border: none;
        background-color: transparent;
    }

}

.delivery-payment__title {
    margin-bottom: 20px;
}

p.delivery-payment__text {
    line-height: 1.6;
    text-align: left;

    @include mobile {
        font-size: 16px;
        line-height: 1.2;
    }
}

.delivery__content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;

    @include mobile {
        gap: 10px;
    }
}

.delivery__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.delivery-payment__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.delivery-payment__list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.delivery-payment__list-item:last-child {
    margin-bottom: 0;
}

.delivery-link,
.payment-link {
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

/* Адаптив */
@include mobile-large {
    .delivery-payment__grid {
        grid-template-columns: 1fr;
    }
}
