.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: var(--text-color);
    padding: 10px 0;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(240, 208, 208, 0.1);
}

.header.small {
    padding: 10px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.small .logo {
    width: 65px;
    height: 65px;
}

.nav__list {
    display: flex;
    gap: 30px;

    @include tablet {
        display: none;
    }
}

.eshop-link {
}

.nav__list a {
    position: relative;
    /* для линии */
    font-family: var(--font-accent);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    transition: font-size 0.3s ease;
}

.header.small .nav__list a {
    font-size: 18px;
}

.header__right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__socials {
    display: flex;    
    margin-top: 5px;
    gap: 5px;    
}

.nav__list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav__list a:hover::after {
    transform: scaleX(1.0);
}
