.hero {
  margin: 50px 0 40px;

  @include mobile {
    margin-bottom: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;

    @include mobile {
      padding: 0;
    }
  }

  .title-1 {
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
  }
}

.hero__inner {
  background: url("../../img/woman1.jpg") center 60% / cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
  color: #fff;

  // @media (max-width: 1240px) {
  //   background-position: left top;
  // }

  // @include mobile {
  //   position: relative;
  //   background-position: left;
  //   min-height: auto;
  // }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  margin-top: 20px;
}

.hero__content {
  width: 70%;
  text-align: right;
  margin-top: auto;

  @include tablet {
    width: 100%;
  }
}

.hero__eshop-link a {
  display: none;
  text-transform: lowercase;
  padding: 2px 10px;
  background-color: var(--accent);
  border-radius: 25px;
  color: #fff;
  text-align: center;

  @include tablet {
    display: block;
  }

  @include mobile {
    font-size: 14px;
  }
}


.hero__footer {
  background: #fff;
  color: #000;
  margin-top: 40px;
  padding: 20px;

  @include mobile {
    margin-top: 10px;
    padding: 10px;
  }
}

.hero__text {
  font-size: 20px;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;

  @include mobile {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
  }
}

a.hero-activities-link {
  text-decoration: underline;
  font-weight: 600;
  transition: color 0.2s ease-in;

  &:hover {
    color: green;
  }
}