.numbers-grid {
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-top: 30px;
    gap: 20px;    
    
    @include tablet-small {
        grid-template-columns:  1fr ;
    } 
}

.numbers__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);        
}

.card-numbers {
    display: flex;
    flex-direction: column;          
    padding: 20px;
    text-align: center;   
    align-items: center; 
    gap: 12px;               

    @include tablet-small {
        padding: 10px;
        gap: 0;
      }
}

.card-numbers__image {    
    flex-shrink: 0; 
    background: var(--accent);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        width: 50px;
        height: 50px;
      }
}

.card-numbers__content{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    
    @include tablet-small {
        gap: 10px; 
      }    
}

.card-numbers__number {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0 10px;

    @include tablet-small {
        font-size: 16px;
      }

}

.card-numbers__text {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;

    @include tablet-small {        
        line-height: 1.2;
      }    
}
.numbers-text {
    margin-top: 40px;
    padding: 0 20px;
    margin-bottom: 40px;    
    
    font-size: 16px;
    line-height: 1.6;
    text-align: left;  
    
    @include tablet {
        margin-top: 20px;
        margin-bottom: 20px;                
    }

    @include mobile {
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        margin-top: 0;

      }    
}



