/* ---------------------------------------
   PRODUCTS SECTION
--------------------------------------- */

.products-section {
    padding: 0 0 50px 0 ;

    @include mobile {
        padding: 0 0 30px 0 ;
    }
}

.products-section__container {   
    @include mobile {
        padding: 0;
    }
}

.products-section__title {
    margin-bottom: 30px;
}

.products-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include mobile {
        gap: 20px;
    }
}

/* ---------------------------------------
   SLIDER
--------------------------------------- */

.products-slider {
    width: 100%;
    position: relative;
    overflow: visible;
}

.products-slider__wrapper {
    display: flex;
}

.products-slider__slide {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.products-slider__slide img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

/* ---------------------------------------
   SLIDER BUTTONS
--------------------------------------- */

.products-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    line-height: 1;

    cursor: pointer;
    color: var(--text-color);
    background: rgba(187, 184, 184, 0.7);

    border-radius: 50%;
    user-select: none;
    transition: all 0.2s ease-in;
}

.products-slider__btn:hover {
    background: rgba(187, 184, 184, 1);
    scale: 1.05;
}

.swiper__btn--prev {
    left: 20px;

    @include mobile {
        left: 0;
    }
}

.swiper__btn--next {
    right: 20px;

    @include mobile {
        right: 0;
    }    
}

/* ---------------------------------------
   TEXT BLOCK
--------------------------------------- */

.products-section__info {
    max-width: 900px;
    margin: 0 auto;
}

.products-info__text {
    font-size: 16px;
    line-height: 1.6;
    color: #333;

    @include mobile {        
        line-height: 1.2;
        text-align: left;
        padding: 0 10px;
    }
}
