/* ---------- LANGUAGE SWITCHER ---------- */
.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;

    @include mobile {
        width: auto;
        height: 20px;
        padding: 0;
    }
}

.switcher-wrapper .switcher {
    position: relative;
    flex: 0 0 auto;
    padding: 3px 6px;
    min-width: 28px;
    text-align: center;
    color: var(--accent);
    transition: color .25s ease-in-out;
    z-index: 2;
    cursor: pointer;

    @include mobile {
        padding: 1px 3px;
        font-size: 14px;
    }
}

.switcher:hover {
    background: rgba(255, 255, 255, 0.2);
}

.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
    
    @include mobile {
        width: 100px;
        height: 20px;
        padding: 0;
    }
}

.switcher-wrapper:hover {
    opacity: 1;
}

.switcher-wrapper input[type="radio"] {
    display: none;
}

.switcher-wrapper .switcher {
    position: relative;
    flex: 1 1 calc(100% / 3);
    text-align: center;
    color: var(--accent);
    transition: color .25s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.switcher-wrapper input[type="radio"]:checked+.switcher {
    color: #fff;
}

.lang-placeholder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--accent);
    position: absolute;
    z-index: 1;
    transition: left .25s ease-in-out;

    @include mobile {
        width: 22px;
        height: 22px;
    }    
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked~.lang-placeholder {
    left: 15px;

    @include mobile {
        left: 6px;

    }
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked~.lang-placeholder {
    left: 55px;
    @include mobile {
        left: 39px;
    }
}

.switcher-wrapper input[type="radio"]:nth-of-type(3):checked~.lang-placeholder {
    left: 95px;

    @include mobile {
        left: 72px;
    }

}