.tradition {
  text-align: left;
  margin: 60px 0;

  @include mobile {
      margin: 20px 0;
  }
}

h2.tradition-title{
    @include mobile {
    margin-bottom: 0;
      
  }
}

.tradition__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 40px;  

  @include tablet {
      gap: 30px;
  }

  @include mobile {
      gap: 20px;
      margin-bottom: 20px;
  }
}


/* --- tradition-card --- */

.tradition-card {
  display: flex;
  align-items: center;
  gap: 40px;

  @include tablet {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  @include mobile {
      gap: 10px;
      padding: 0;
  }
}

.tradition-card--reverse {
  flex-direction: row-reverse;

   @include tablet {
    flex-direction: column;
    padding: 15px;
  }

  @include mobile {
      padding: 10px 0;
  }
}

.tradition-card__body {
  flex: 1 1 50%;
}

.tradition-card__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.tradition-card__text {
  font-size: 16px;
  line-height: 1.6;  

  @include mobile {
      line-height: 1.2;
  }
}

.tradition-card__img-wrap {
  flex: 1 1 50%;
}

.tradition-card__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
